@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap')
//<!-- '[styles mobile start]' -->
.Main
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: 1fr
 width: 100%
 height: 100vh
 overflow: visible
 font-family: 'Bai Jamjuree', sans-serif
.containerMain
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: repeat(7,auto )
 row-gap: 100px
.sectionMain1, .sectionMain2, .sectionMain3, .sectionMain4, .sectionMain5, .sectionMain6, .sectionMain7
 display: inline-grid
 justify-items: center
 grid-template-columns: 1fr
 align-items: center
 row-gap: 20px
 div
   display: inline-grid
   width: 100%
   justify-items: center
   button
     width: 200px
     height: auto
     border: none
     border-radius: 40px
     color: #fff
     font-weight: 400
     padding: 10px 0
   button:nth-child(1)
     background: hsl(171, 66%, 44%)
   button:nth-child(2)
     background: hsl(233, 100%, 69%)
 h1,h2,h3,h4
  text-align: center
  font-weight: 600
  width: 60%
  font-size: 18px
  color: hsl(210, 10%, 33%)
 p
   text-align: center
   color: hsl(201, 11%, 66%)
   font-weight: 400
   font-size: 10px
   width: 60%
   line-height: 1.6
.sectionMain1
 grid-template-rows: repeat(5,auto)
 img
   width: 25%
   height: auto
 div
   display: grid
   grid-template-rows: repeat(2,auto )
   row-gap: 15px
.sectionMain2
 grid-template-rows: repeat(4,auto)
 img
   width: 70%
   height: auto
.sectionMain3
 grid-template-rows: repeat(6, auto)
.sectionMain4
 grid-template-rows: repeat(3, auto)
 img
  width: 75%
  height: auto
.sectionMain5
 grid-template-rows: repeat(4, auto)
 img
   width: 30px
   height: auto
.main5icons
  grid-template-rows: repeat(5,auto )
  row-gap: 50px
  img
    width: 25%
    height: auto
.main5Card
  grid-template-rows: repeat(3,auto )
  row-gap: 20px 
  div
    display: grid
    grid-template-rows: repeat(3,auto )
    row-gap: 30px
.sectionMain6
 grid-template-rows: repeat(4, auto )
 div
   display: grid
   grid-template-rows: repeat(2,auto )
   row-gap: 15px
.sectionMain7
 grid-template-rows: repeat(7, auto )
 img
   width: 10%
   height: auto
 div
   display: grid
   grid-template-columns: repeat(3,1fr )
   width: 35%
   img
     width: 14px
     height: auto 
//<!-- '[styles mobile end]' -->
//<!-- '[styles tablet start]' -->
@media screen and ( min-width: 768px ) and (max-width: 1920px)
  .sectionMain1, .sectionMain2, .sectionMain3, .sectionMain4, .sectionMain5, .sectionMain6, .sectionMain7
    display: grid
  .sectionMain1, .sectionMain6
    div
      display: grid
      grid-template-columns: repeat(2, auto)
      column-gap: 20px
      justify-content: center
    img
      width: 7%
      height: auto
  .sectionMain2
    grid-template-columns: repeat(2,auto )
    h2,p
      grid-column: 1/3
    img
      grid-column: 1/2
      width: 70%
      height: auto
    .sectionMain3
      grid-column: 2/3
  .sectionMain4
    img
      width: 50%
      height: auto
  .sectionMain5
    grid-template-columns: repeat(2,auto )
    h2,p
      grid-column: 1/3
    .main5Card
      grid-column: 1/3
      grid-template-columns: repeat(3,1fr )
      div
        display: grid
        grid-template-columns: 1fr
        img,p,h3
          grid-column: 1/2
    .main5icons
      display: grid
      grid-column: 1/3
      grid-template-columns: repeat(5,1fr )
  .sectionMain7
    display: grid
    grid-template-columns: repeat(7,auto )  
    div
      justify-content: end
      
    
//<!-- '[styles tablet end]' -->


























.containerFooter
 display: grid
 justify-items: center
 background: #000
 width: 100%
 h3
  color: #fff
  text-align: center
  font-size: 15px
 a
  color: #FF3F00
  text-transform: capitalize
  text-decoration: none
  &:hover
   text-decoration: underline
