@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap')
//<!-- '[styles mobile start]' -->
.Main
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: 1fr
 width: 100%
 height: 100vh
 overflow: visible
 font-family: 'Bai Jamjuree', sans-serif
.containerMain
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: repeat(7,auto )
 row-gap: 100px
 margin-top: 50px
.sectionMain1, .sectionMain2, .sectionMain3, .sectionMain4, .sectionMain5, .sectionMain6, .sectionMain7
 display: inline-grid
 justify-items: center
 grid-template-columns: 1fr
 align-items: center
 row-gap: 20px
 div
   display: inline-grid
   width: 100%
   justify-items: center
   button
     width: 200px
     height: auto
     border: none
     border-radius: 40px
     color: #fff
     font-weight: 400
     font-size: 14px
     padding: 10px 0
     cursor: pointer
   button:nth-child(1)
     background: hsl(171, 66%, 44%)
   button:nth-child(2)
     background: hsl(233, 100%, 69%)
 h1,h2,h3,h4
  text-align: center
  font-weight: 600
  width: 60%
  font-size: 18px
  color: hsl(210, 10%, 33%)
 p
   text-align: center
   color: hsl(201, 11%, 66%)
   font-weight: 400
   font-size: 10px
   width: 60%
   line-height: 1.6
.sectionMain1
 grid-template-rows: repeat(5,auto)
 img
   width: 25%
   height: auto
 div
   display: grid
   grid-template-rows: repeat(2,auto )
   row-gap: 15px
.sectionMain2
 grid-template-rows: repeat(4,auto)
 img
   width: 70%
   height: auto
.sectionMain3
 grid-template-rows: repeat(6, auto)
.sectionMain4
 grid-template-rows: repeat(3, auto)
 img
  width: 75%
  height: auto
.sectionMain5
 grid-template-rows: repeat(4, auto)
 img
   width: 30px
   height: auto
.main5icons
  grid-template-rows: repeat(5,auto )
  row-gap: 50px
  img
    width: 25%
    height: auto
.main5Card
  grid-template-rows: repeat(3,auto )
  row-gap: 20px 
  div
    display: grid
    grid-template-rows: repeat(3,auto )
    row-gap: 30px
    img
      height: 25px
.sectionMain6
 grid-template-rows: repeat(4, auto )
 div
   display: grid
   grid-template-rows: repeat(2,auto )
   row-gap: 15px
.sectionMain7
 grid-template-rows: repeat(7, auto )
 img
   width: 10%
   height: auto
 div
   display: grid
   grid-template-columns: repeat(3,1fr )
   width: 35%
   img
     width: 14px
     height: auto 
//<!-- '[styles mobile end]' -->
//<!-- '[styles tablet start]' -->
@media screen and ( min-width: 768px ) and (max-width: 1920px)
  .sectionMain1, .sectionMain2, .sectionMain3, .sectionMain4, .sectionMain5, .sectionMain6, .sectionMain7
    display: grid
  .sectionMain1, .sectionMain6
    div
      display: grid
      grid-template-columns: repeat(2, auto)
      column-gap: 20px
      justify-content: center
      button
        width: 150px
        font-size: 12px
    img
      width: 7%
      height: auto
    p
      width: 45%
      font-size: 18px
    h1, h2
      font-size: 39px  
  .sectionMain2
    grid-template-columns: repeat(2,auto )
    h2,p
      grid-column: 1/3
      text-align: center
    img
      grid-column: 1/2
      width: 100%
      height: auto
      transform: translateX(-10%)
    p
      width: 53%
      font-size: 18px
    h2
      font-size: 24px
    .sectionMain3
      grid-column: 2/3
      justify-items: start
      width: 60%
      h3, p
        text-align: left
      h3
        font-size: 20px
      p
        width: 90%
        font-size: 18px
  .sectionMain4
    img
      width: 50%
      height: auto
    p
      width: 50%
      font-size: 18px
    h2
      font-size: 24px
  .sectionMain5
    grid-template-columns: repeat(2,auto )
    row-gap: 100px
    h2,p
      grid-column: 1/3
    h2
      font-size: 24px
    p
      font-size: 18px
    .main5Card
      grid-column: 1/3
      grid-template-columns: repeat(3,1fr )
      grid-template-rows: 1fr
      align-items: start
      div
        display: grid
        grid-template-columns: 1fr
        img,p,h3
          grid-column: 1/2
        p
          width: 85%
          font-size: 18px
        h3
          width: 100%
          font-size: 24px
    .main5icons
      display: grid
      grid-column: 1/3
      grid-template-columns: repeat(5,1fr )
      grid-template-rows: 1fr
      img
        width: 50%
  .sectionMain6
    p
      width: 50%
  .sectionMain7
    display: grid
    grid-template-columns: repeat(7,auto ) 
    grid-template-rows: repeat(2, 1fr)
    row-gap: 0
    align-items: start
    img
      grid-row: 1/3
      width: 15%
    div
      justify-content: end
      width: 100%
      grid-column: 7/8
    p
      text-align: left
      font-size: 18px
      cursor: pointer
      &:hover
        color: hsl(171, 66%, 44%)
    p:nth-child(2)
      grid-column: 2/3
      grid-row: 1/2
    p:nth-child(3)
      grid-column: 2/3
      grid-row: 2/3
    p:nth-child(4)
      grid-column: 3/4
      grid-row: 1/2
    p:nth-child(5)
      grid-column: 3/4
      grid-row: 2/3
    p:nth-child(6)
//<!-- '[styles tablet end]' -->


























.containerFooter
 display: grid
 justify-items: center
 background: #000
 width: 100%
 padding: 10px 0
 h3
  color: #fff
  text-align: center
  font-size: 15px
 a
  color: #FF3F00
  text-transform: capitalize
  text-decoration: none
  &:hover
   text-decoration: underline
