@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
.Main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100vh;
  overflow: visible;
  font-family: "Bai Jamjuree", sans-serif;
}

.containerMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, auto);
  row-gap: 100px;
  margin-top: 50px;
}

.sectionMain1, .sectionMain2, .sectionMain3, .sectionMain4, .sectionMain5, .sectionMain6, .sectionMain7 {
  display: inline-grid;
  justify-items: center;
  grid-template-columns: 1fr;
  align-items: center;
  row-gap: 20px;
}
.sectionMain1 div, .sectionMain2 div, .sectionMain3 div, .sectionMain4 div, .sectionMain5 div, .sectionMain6 div, .sectionMain7 div {
  display: inline-grid;
  width: 100%;
  justify-items: center;
}
.sectionMain1 div button, .sectionMain2 div button, .sectionMain3 div button, .sectionMain4 div button, .sectionMain5 div button, .sectionMain6 div button, .sectionMain7 div button {
  width: 200px;
  height: auto;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0;
  cursor: pointer;
}
.sectionMain1 div button:nth-child(1), .sectionMain2 div button:nth-child(1), .sectionMain3 div button:nth-child(1), .sectionMain4 div button:nth-child(1), .sectionMain5 div button:nth-child(1), .sectionMain6 div button:nth-child(1), .sectionMain7 div button:nth-child(1) {
  background: #26baa4;
}
.sectionMain1 div button:nth-child(2), .sectionMain2 div button:nth-child(2), .sectionMain3 div button:nth-child(2), .sectionMain4 div button:nth-child(2), .sectionMain5 div button:nth-child(2), .sectionMain6 div button:nth-child(2), .sectionMain7 div button:nth-child(2) {
  background: #6173ff;
}
.sectionMain1 h1, .sectionMain1 h2, .sectionMain1 h3, .sectionMain1 h4, .sectionMain2 h1, .sectionMain2 h2, .sectionMain2 h3, .sectionMain2 h4, .sectionMain3 h1, .sectionMain3 h2, .sectionMain3 h3, .sectionMain3 h4, .sectionMain4 h1, .sectionMain4 h2, .sectionMain4 h3, .sectionMain4 h4, .sectionMain5 h1, .sectionMain5 h2, .sectionMain5 h3, .sectionMain5 h4, .sectionMain6 h1, .sectionMain6 h2, .sectionMain6 h3, .sectionMain6 h4, .sectionMain7 h1, .sectionMain7 h2, .sectionMain7 h3, .sectionMain7 h4 {
  text-align: center;
  font-weight: 600;
  width: 60%;
  font-size: 18px;
  color: #4c545d;
}
.sectionMain1 p, .sectionMain2 p, .sectionMain3 p, .sectionMain4 p, .sectionMain5 p, .sectionMain6 p, .sectionMain7 p {
  text-align: center;
  color: #9fabb2;
  font-weight: 400;
  font-size: 10px;
  width: 60%;
  line-height: 1.6;
}

.sectionMain1 {
  grid-template-rows: repeat(5, auto);
}
.sectionMain1 img {
  width: 25%;
  height: auto;
}
.sectionMain1 div {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 15px;
}

.sectionMain2 {
  grid-template-rows: repeat(4, auto);
}
.sectionMain2 img {
  width: 70%;
  height: auto;
}

.sectionMain3 {
  grid-template-rows: repeat(6, auto);
}

.sectionMain4 {
  grid-template-rows: repeat(3, auto);
}
.sectionMain4 img {
  width: 75%;
  height: auto;
}

.sectionMain5 {
  grid-template-rows: repeat(4, auto);
}
.sectionMain5 img {
  width: 30px;
  height: auto;
}

.main5icons {
  grid-template-rows: repeat(5, auto);
  row-gap: 50px;
}
.main5icons img {
  width: 25%;
  height: auto;
}

.main5Card {
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
}
.main5Card div {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 30px;
}
.main5Card div img {
  height: 25px;
}

.sectionMain6 {
  grid-template-rows: repeat(4, auto);
}
.sectionMain6 div {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 15px;
}

.sectionMain7 {
  grid-template-rows: repeat(7, auto);
}
.sectionMain7 img {
  width: 10%;
  height: auto;
}
.sectionMain7 div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 35%;
}
.sectionMain7 div img {
  width: 14px;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
  .sectionMain1, .sectionMain2, .sectionMain3, .sectionMain4, .sectionMain5, .sectionMain6, .sectionMain7 {
    display: grid;
  }

  .sectionMain1 div, .sectionMain6 div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    justify-content: center;
  }
  .sectionMain1 div button, .sectionMain6 div button {
    width: 150px;
    font-size: 12px;
  }
  .sectionMain1 img, .sectionMain6 img {
    width: 7%;
    height: auto;
  }
  .sectionMain1 p, .sectionMain6 p {
    width: 45%;
    font-size: 18px;
  }
  .sectionMain1 h1, .sectionMain1 h2, .sectionMain6 h1, .sectionMain6 h2 {
    font-size: 39px;
  }

  .sectionMain2 {
    grid-template-columns: repeat(2, auto);
  }
  .sectionMain2 h2, .sectionMain2 p {
    grid-column: 1/3;
    text-align: center;
  }
  .sectionMain2 img {
    grid-column: 1/2;
    width: 100%;
    height: auto;
    transform: translateX(-10%);
  }
  .sectionMain2 p {
    width: 53%;
    font-size: 18px;
  }
  .sectionMain2 h2 {
    font-size: 24px;
  }
  .sectionMain2 .sectionMain3 {
    grid-column: 2/3;
    justify-items: start;
    width: 60%;
  }
  .sectionMain2 .sectionMain3 h3, .sectionMain2 .sectionMain3 p {
    text-align: left;
  }
  .sectionMain2 .sectionMain3 h3 {
    font-size: 20px;
  }
  .sectionMain2 .sectionMain3 p {
    width: 90%;
    font-size: 18px;
  }

  .sectionMain4 img {
    width: 50%;
    height: auto;
  }
  .sectionMain4 p {
    width: 50%;
    font-size: 18px;
  }
  .sectionMain4 h2 {
    font-size: 24px;
  }

  .sectionMain5 {
    grid-template-columns: repeat(2, auto);
    row-gap: 100px;
  }
  .sectionMain5 h2, .sectionMain5 p {
    grid-column: 1/3;
  }
  .sectionMain5 h2 {
    font-size: 24px;
  }
  .sectionMain5 p {
    font-size: 18px;
  }
  .sectionMain5 .main5Card {
    grid-column: 1/3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: start;
  }
  .sectionMain5 .main5Card div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .sectionMain5 .main5Card div img, .sectionMain5 .main5Card div p, .sectionMain5 .main5Card div h3 {
    grid-column: 1/2;
  }
  .sectionMain5 .main5Card div p {
    width: 85%;
    font-size: 18px;
  }
  .sectionMain5 .main5Card div h3 {
    width: 100%;
    font-size: 24px;
  }
  .sectionMain5 .main5icons {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }
  .sectionMain5 .main5icons img {
    width: 50%;
  }

  .sectionMain6 p {
    width: 50%;
  }

  .sectionMain7 {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 0;
    align-items: start;
  }
  .sectionMain7 img {
    grid-row: 1/3;
    width: 15%;
  }
  .sectionMain7 div {
    justify-content: end;
    width: 100%;
    grid-column: 7/8;
  }
  .sectionMain7 p {
    text-align: left;
    font-size: 18px;
    cursor: pointer;
  }
  .sectionMain7 p:hover {
    color: #26baa4;
  }
  .sectionMain7 p:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .sectionMain7 p:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .sectionMain7 p:nth-child(4) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .sectionMain7 p:nth-child(5) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
.containerFooter {
  display: grid;
  justify-items: center;
  background: #000;
  width: 100%;
  padding: 10px 0;
}
.containerFooter h3 {
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.containerFooter a {
  color: #FF3F00;
  text-transform: capitalize;
  text-decoration: none;
}
.containerFooter a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */