//<!-- '[styles mobile start]' -->
.Main
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: 1fr
 width: 100%
 height: 100vh
.containerMain
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: repeat(7,auto )
.sectionMain1, .sectionMain2, .sectionMain3, .sectionMain4, .sectionMain5, .sectionMain6, .sectionMain7
 display: inline-grid
 justify-items: center
 grid-template-columns: 1fr
 align-items: center
 div
   display: inline-grid
   width: 100%
   justify-items: center
   button
     width: 200px
 img
  border: 2px solid lime
  width: 50px 
  height: 50px
 h1,h2,h3,h4, p
  text-align: center
.sectionMain1
 grid-template-rows: repeat(5,auto)
.sectionMain2
 grid-template-rows: repeat(4,auto)
.sectionMain3
 grid-template-rows: repeat(6, auto)
.sectionMain4
 grid-template-rows: repeat(3, auto)
.sectionMain5
 grid-template-rows: repeat(10, auto)
.sectionMain6
 grid-template-rows: repeat(4, auto )
.sectionMain7
 grid-template-rows: repeat(7, auto )
 div
   display: grid
   grid-template-columns: repeat(3,1fr )
//<!-- '[styles mobile end]' -->
//<!-- '[styles tablet start]' -->
@media screen and ( min-width: 768px ) and (max-width: 1920px)
  .sectionMain1, .sectionMain2, .sectionMain3, .sectionMain4, .sectionMain5, .sectionMain6, .sectionMain7
    display: grid
  .sectionMain1, .sectionMain6
    div
      display: grid
      grid-template-columns: repeat(2, auto)
      column-gap: 20px
      justify-content: center
  .sectionMain2
    grid-template-columns: repeat(2,auto )
    h2,p
      grid-column: 1/3
    img
      grid-column: 1/2
    .sectionMain3
      grid-column: 2/3
  .sectionMain5
    grid-template-columns: repeat(2,auto )
    h2,p
      grid-column: 1/3
    .main5Card
      grid-column: 1/3
      grid-template-columns: repeat(3,1fr )
      div
        display: grid
        grid-template-columns: 1fr
        img,p,h3
          grid-column: 1/2
    .main5icons
      display: grid
      grid-column: 1/3
      grid-template-columns: repeat(5,1fr )
  .sectionMain7
    display: grid
    grid-template-columns: repeat(7,auto )  
    div
      justify-content: end
      
    
//<!-- '[styles tablet end]' -->


























.containerFooter
 display: grid
 justify-items: center
 background: #000
 width: 100%
 h3
  color: #fff
  text-align: center
  font-size: 15px
 a
  color: #FF3F00
  text-transform: capitalize
  text-decoration: none
  &:hover
   text-decoration: underline
